@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  height: 56px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
}

.navbar .logo {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.logo img {
  width: 110px;
  margin-left: 10px;
}

.navbar .searchbar {
  display: flex;
  height: 32px;
  align-items: center;
}

.searchbar i {
  padding-top: 3px;
}
.search {
  display: flex;
  border: 1px solid #cccccc;
  width: 640px;
  height: 100%;
  margin-right: 10px;
}

.search input {
  border: none;
  width: 90%;
  padding-left: 7px;
}

.search button {
  border: none;
  border-left: 1px solid #cccccc;
  width: 10%;
  padding-top: 3px;
  align-items: center;
  justify-content: center;
}

.search button i {
  margin: 0;
  padding: 2px;
}
.material-icons {
  color: #606060;
  margin-right: 10px;
}

.main {
  display: flex;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.categories_section {
  border-bottom: 1px solid #cccccc;
  margin-top: 10px;
}

.categories_section .category:last-child {
  margin-bottom: 10px;
}

.category_heading {
  margin: 10px 0px 10px 25px;
  color: #606060;
  font-weight: 500;
  font-size: 14px;
}
.categories {
  width: 240px;
  height: 100%;
  background: white;
  overflow-y: scroll;
}

.category {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.category:hover {
  background: #f9f9f9;
}

.active {
  background: #d0d0d0;
  font-weight: 500;
}

.active:hover {
  background: #d0d0d0;
}

.active i {
  color: red;
}

.category i {
  margin-right: 24px;
}

.categories_footer {
  padding: 25px;
}

.footer_section span {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  color: #606060;
  cursor: pointer;
}

.footer_section {
  margin-bottom: 12px;
}

.copyright {
  color: #606060;
  font-size: 13px;
  font-family: 400;
  margin-bottom: 20px;
}

/*Videos*/
.videos {
  height: 100%;
  width: calc(100vw - 240px);
  background: #f9f9f9;
  border-top: 1px solid #cccccc;
  overflow-y: scroll;
}

.videos .details {
  display: flex;
  margin-top: 5px;
  width: 90%;
}

.video_grid {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
}
.video {
  width: calc(25% - 12px);
  margin-right: 12px;
  margin-bottom: 35px;
  cursor: pointer;
}

.video .thumbnail img {
  width: 100%;
}

.video .profile_details img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.video .profile_details {
  margin-right: 12px;
}

.video .video_details p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video .posted_by{
    font-size: 14px;
    font-weight: 500;
    color: #606060;
}


.category img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 25px;
}